*{
    -fx-color: #1461cc;
    -fx-foreground-color: #d0d0d0;
    -fx-background-color: #202020;
    -fx-hover-color: #176de6;
    -fx-pressed-color: #1979ff;
    -fx-selected-color: #1461cc;
    -fx-disabled-color: #404040;

    -fx-text-fill: -fx-foreground-color;
    -fx-icon-size: 16px;
    -fx-icon-color: -fx-foreground-color;
}

.alt-color, .toggle-button{
    -fx-color: #404040;
    -fx-hover-color: #4d4d4d;
    -fx-pressed-color: #595959;
    -fx-disabled-color: #333333;
}

.button, .toggle-button{
    -fx-background-color: -fx-color;
    -fx-background-insets: 0;
}

.button:hover, .toggle-button:hover{
    -fx-background-color: -fx-hover-color;
}

.button:pressed, .toggle-button:pressed{
    -fx-background-color: -fx-pressed-color;
}

.toggle-button:selected{
    -fx-background-color: -fx-selected-color;
}

.button:disabled, .toggle-button:disabled{
    -fx-background-color: -fx-disabled-color;
}

.cell{
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}

.small-cell{
    -fx-pref-width: 33px;
    -fx-pref-height: 33px;
}

.small-cell-width{
    -fx-pref-width: 33px;
}