*{
    /* Color */
    color: #1460c9;
    background: #202020;
    -fx-color: #1460c9;
    -hover-color: #1c70e6;
    -pressed-color: #2e7ce8;
    -focused-color: #408df7;
	-fx-background: background;

	/* Text */
    fill: #d0d0d0;
	-fx-fill: #d0d0d0;
	-fx-prompt-text-fill: #d0d0d0;
	-fx-highlight-fill: #d0d0d0;
	-fx-highlight-text-fill: #202020;

	/* Shapes */
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-body-color: -fx-color;
}

.button, .toggle-button{
    -fx-background-insets: 0;
    -fx-background-radius: 5;
}

.button:hover, .toggle-button:hover{
    color: #1460c9;
    -fx-color: -hover-color;
}

.button:pressed, .toggle-button:pressed{
    color: #1460c9;
    -fx-color: -pressed-color;
}

.button:focused, .toggle-button:focussed{
    -fx-background-insets: 0;
}

.grid-cell{
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}

.grid-cell-alt{
    color: #404040;
    -fx-color: #404040;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}

.alt-color{
    color: #404040;
    -fx-color: #404040;
}

.grid-pane {
    -fx-hgap: 5px;
    -fx-vgap: 5px;
    -fx-padding: 5px;
}
